@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;700&family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.navbar {
  color: #182022;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #182022;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1000px) {
  .hero-container {
    margin: 0 100px;
  }
}

.hero-content {
  background: rgba(255, 255, 252, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
  color: #182022;
}
.home-hero-content {
  background: rgba(255, 255, 252, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 450px;
  height: 18vh;
  color: #182022;
}

.hero-content h2,
.home-hero-content h2 {
  font-size: 24px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.hero-content p,
.home-hero-content p {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.login-btn,
.add-home-btn {
  padding: 10px 30px;
  background-color: #182022;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 15px;
}

.add-home-btn {
  top: 20px;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupContent {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}
form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 5px 0 20px 0;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
  border: 1px solid #182022;
}

.form-nav {
  display: flex;
  justify-content: space-between;
  color: #182022;
}

textarea {
  padding: 10px;
  margin: 5px 0 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: none;
  resize: none;
  outline: none;
}

select {
  outline: none;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

span {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 40px;
  color: #182022;
}

.form-btn {
  padding: 10px 20px;
  background-color: #182022;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.form-btn:hover {
  background-color: #0c1011;
}

.form-header {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.task-list li button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  color: red;
}

.edit-btn {
  color: #182022;
}

.add-btn {
  color: #fff;
  padding: 10px 25px;
  background-color: #182022;
  margin: 10px;
}

/* Task  Manager*/

.task-manager {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: red;
}

.show-description {
  color: #0056b3;
}

h3 {
  font-size: 24px;
}
